<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="<%= active_class('/aeroplane?page=1') %>"><a href="aeroplane?page=1">How Do Planes Fly?<span class="sr-only"></span></a></li>
                <li class="<%= active_class('/aeroplane?page=2') %>"><a href="aeroplane?page=2">History</a></li>
                <li class="<%= active_class('/aeroplane?page=3') %>"><a href="aeroplane?page=3">Flight Instruments</a></li>
                <li class="<%= active_class('/aeroplane?page=4') %>"><a href="aeroplane?page=4">Types of Aeroplanes</a></li>
                <li class="<%= active_class('/aeroplane?page=5') %>"><a href="aeroplane?page=5">Modern Flight</a></li>
            </ul>
            <hr>
            <ul class="nav nav-sidebar">
                <li><a href="/">About</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>
        </div>
    </div>
    
</div>