<%= render 'sidebar' %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container-fluid">
        <h1 class="page-header">Modern Flight</h1>
        <div class="row content">
            <%= image_tag 'Boeing-787.jpg', class: 'img' %>
            <br>
            <p>The last quarter of the 20th century saw a change of emphasis. No longer was revolutionary progress made in flight speeds, distances and materials technology. This part of the century instead saw the spreading of the digital revolution both in flight avionics and in aircraft design and manufacturing techniques.</p>
            <p><strong>Composite Materials</strong></p>
            <%= image_tag 'Composite.png', class: 'img' %>
            <p>Commercial jetliners namely the Boeing B787 Jetliner and Airbus A350 pioneered with the use of composite materials as the primary materials in the construction of of its airframe which results in extreme lightweight and durable.</p>
            <p><strong>Raked Wingtips</strong></p>
            <%= image_tag '640px-Boeing_787_Roll-out.jpg', class: 'img' %>
            <br>
            <p>Raked wingtips are a feature on some newer Boeing and Airbus airliners and some modern private jets, where the tip of the wing has a higher degree of sweep than the rest of the wing. The stated purpose of this additional feature is to improve fuel efficiency and climb performance, and to shorten takeoff field length.</p>
            <p><strong>Noise-reducing Chevrons</strong></p>
            <%= image_tag 'Air_India_B787.jpg', class: 'img' %>
            <br>
            <p>Chevrons are the sawtooth patterns on the trailing edges of some jet engine nozzles that are used for noise reduction. Their principle of operation is that, as hot air from the engine core mixes with cooler air blowing through the engine fan, the shaped edges serve to smooth the mixing, which reduces noise-creating turbulence.</p>
            <p><strong>Fly-by-wire</strong></p>
            <%= image_tag 'a380cockpit.jpg', class:'img' %>
            <br>
            <p>Flight controls were used to be the pulling of cables that stretches along the length of the aircraft to move flight controls like the elevator and rudder. This ancient technology were cumbersome and heavy and irreliable.</p>
            <p>Fly-by-wire (FBW) is a system that replaces the conventional manual flight controls of an aircraft with an electronic interface. The movements of flight controls are converted to electronic signals transmitted by wires (hence the fly-by-wire term), and flight control computers determine how to move the actuators at each control surface to provide the ordered response. The fly-by-wire system also allows automatic signals sent by the aircraft's computers to perform functions without the pilot's input, as in systems that automatically help stabilize the aircraft, or prevent unsafe operation of the aircraft outside of its performance envelope which increase the safety of flight operations.</p>
            <%= render 'buttontoolbar' %>  
        </div>
    </div>
</div>