<%= render 'sidebar' %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container-fluid">
        <h1 class="page-header">Types of Aeroplanes</h1>
        <div class="row content">
            <p>Most of the time, the types of aeroplane suggests the engine type of the plane used. Below are the types of aeroplanes, along with the name and engine type incorporated in the naming convention of the type of aeroplane.</p>
            <p><strong>Single-engine</strong></p>
            <%= image_tag 'single_engine.jpg', class: 'img' %>
            <br>
            <p>Single-engine planes are usually for personal, training and recreation use. The wing configurations are either high-winged or low-winged.</p>
            <p><strong>Twin-engine</strong></p>
            <%= image_tag 'twin_engine.jpg', class: 'img' %>
            <br>
            <p>Twin-engine plane as the name suggets has two engines and propellers. It is an upgraded version of the single engine plane for advanced pilots.</p>
            <p><strong>Sportplane</strong></p>
            <%= image_tag 'sports_plane.jpg', class: 'img' %>
            <br>
            <p>Sportplane is used for competitive and recreational flying. Pilots must obtain a sportplane license to operate one. Sportplane can be seen with one fixed wing or two wings that are attached on top of each other for maximum high lift capabilities and high control surfaces for maximum maneuverability.</p>
            <p><strong>Cargo Plane</strong></p>
            <%= image_tag 'Airvan.jpg', class: 'img' %>
            <br>
            <p>Cargo planes can be small in size; single-engine for short-haul flights to huge jet engine with overload cargo carrying capabilities. Seats are usually limited on a cargo configured plane while some have seats and windows totally removed.</p>
            <p><strong>Turboprop</strong></p>
            <%= image_tag 'Turboprop.png', class: 'img' %>
            <br>
            <p>In contrast with the smaller engines driven by a piston similar of a car, a turboprop's propeller is powered by a turbine or jet engine.</p>
            <p><strong>Business Jets</strong></p>
            <%= image_tag 'business-jet.jpg', class: 'img' %>
            <br>
            <p>As the name implies, business jet plane uses a jet engine for propulsion and can vary in size; from a smaller commuter and private business jets to large commercial jetliner carry hundreds of passengers, the one we typically sees at an airport.</p>
            <%= render 'buttontoolbar' %>
        </div>
    </div>
</div>