<%= render 'sidebar' %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container-fluid">
        <h1 class="page-header">Flight Instruments</h1>
        <div class="row content">
            <p>Now that you know how airplanes fly, it is time to understand how we navigate through those skies.</p>
            <p>First, what is instrument flight? Instrument flight is flying with no earth horizon as a reference. Why is that important? Without the ability to control the flight of an aircraft, from takeoff to landing, despite clouds, haze, smoke, snow and other obscurations to earth and particularly without earth's horizon reference, the progress of aviation, strong in its first three decades, would have been completely stunted.</p>
            <%= image_tag 'old_flight_instruments.JPG', class:'img' %>
            <br>
            <p>Since the beginning of manned flight, it has been recognized that supplying the pilot with information about the aircraft and its operation could be useful and lead to safer flight. The Wright Brothers had very few instruments on their Wright Flyer, but they did have an engine tachometer, an anemometer (wind meter), and a stop watch. They were obviously concerned about the aircraft’s engine and the progress of their flight. From that simple beginning, a wide variety of instruments have been developed to inform flight crews of different parameters. Instrument systems now exist to provide information on the condition of the aircraft, engine, components, the aircraft’s attitude in the sky, weather, cabin environment, navigation, and communication. </p>
            <p><strong>Basic 'T'</strong></p>
            <%= image_tag 'Six_flight_instruments.JPG', class: 'img' %>
            <br>
            <p>The ability to capture and convey all of the information a pilot may want, in an accurate, easily understood manner, has been a challenge throughout the history of aviation. As the range of desired information has grown, so too have the size and complexity of modern aircraft, thus expanding even further the need to inform the flight crew without sensory overload or overcluttering the cockpit. As a result, the old flat panel in the front of the cockpit with various individual instruments attached to it has evolved into a sophisticated computer-controlled digital interface with flat-panel display screens and prioritized messaging.</p>
            <p><strong>Glass Cockpit</strong></p>
            <%= image_tag 'Airbus-A380-glass-cockpit.png', class: 'img' %>
            <br>
            <p>Modern "glass cockpits" like those in the Boeing 777, the F-117 stealth fighter and Shuttle Atlantis represent a revolution in the way cockpits for aircraft and spacecraft are designed and built today. The first hints of this revolution appeared in the 1970s when flight-worthy cathode ray tube (CRT) screens began to replace a few of the electromechanical displays, gauges and instruments that had served so well for so long. These new "glass" instruments, as few and as primitive as they were, gave the cockpit a distinctly different look and suggested the name, "glass cockpit". The revolution in cockpit design was born of both opportunity and necessity.</p>
            <%= render 'buttontoolbar' %>
        </div>
    </div>
</div>